[submodule "PDP-10"]
	path = PDP-10
	url = https://github.com/awesome-cpus/awesome-cpus-pdp10
[submodule "88000"]
	path = 88000
	url = https://github.com/awesome-cpus/awesome-cpus-m88k
[submodule "i860"]
	path = i860
	url = https://github.com/awesome-cpus/awesome-cpus-i860/
[submodule "PIC"]
	path = PIC
	url = https://github.com/awesome-cpus/awesome-cpus-pic
[submodule "B5000"]
	path = B5000
	url = https://github.com/awesome-cpus/b5000
